<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drones and Drills</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" href="css/style.less">
    <script src="packages\less.min.js" type="text/javascript"></script>
    <script src="packages\jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <center>
      <p>Welcome To Drones and Drills</p>
      <a href="quadrantGen.html">gen</a>
      <a href="map.html">map</a>
    <center>
  </body>
</html>
