<!DOCTYPE html>
<html ng-app="MyGame">
  <head>
    <meta charset="utf-8">
    <title>Drones And Drills Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" href="css/style.less">
    <script src="packages\less.min.js" type="text/javascript"></script>
    <script src="packages\jquery.min.js" type="text/javascript"></script>
    <script src="packages\angular.min.js"></script>
    <script src="Javascript\map.js"></script>
  </head>
  <!--  purpose: to present a quality gui view of all quadrants from /quadrants -->
  <body>
    <div class="map" ng-controller="MapController as map">
      <center>
        <h1>Quadrant Map</h1>
        <input placeholder="name" class="name"></input>
        <button class="find" onclick="find()">Find</button>
        <div class="quadrant" vm-cloak>
          <ul>
            <li ng-repeat="quadrant in map.quadrants">
                {{quadrant.name}}
            </li>
          </ul>
        </div>
      </center>
    </div>
  </body>
</html>
